name: Run Data Sync

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - master
    paths:
      - run_page/strava_sync.py
      - requirements.txt

env:
  # 设置为只同步 Strava 数据
  RUN_TYPE: strava
  ATHLETE: yihong0618
  TITLE: Yihong0618 Running
  MIN_GRID_DISTANCE: 10 # 更改最小距离
  TITLE_GRID: Over 10km Runs # 更新标题

  # 可选的参数
  IGNORE_START_END_RANGE: 10 # 单位：米
  SAVE_DATA_IN_GITHUB_CACHE: false # 是否保存数据到 GitHub 缓存
  DATA_CACHE_PREFIX: 'track_data'
  BUILD_GH_PAGES: false # 不需要构建 GitHub 页面
  SAVE_TO_PARQENT: false # 是否保存数据到 Parqent
  GENERATE_MONTH_OF_LIFE: true
  BIRTHDAY_MONTH: 1989-03

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    outputs:
      SAVE_DATA_IN_GITHUB_CACHE: ${{ steps.set_output.outputs.SAVE_DATA_IN_GITHUB_CACHE }}
      DATA_CACHE_PREFIX: ${{ steps.set_output.outputs.DATA_CACHE_PREFIX }}
      BUILD_GH_PAGES: ${{ steps.set_output.outputs.BUILD_GH_PAGES }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Set up Python
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: pip
          cache-dependency-path: 'requirements.txt'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Cache Data Files
        if: env.SAVE_DATA_IN_GITHUB_CACHE == 'true'
        uses: actions/cache@v4
        with:
          path: |
            activities
            assets
            GPX_OUT
            TCX_OUT
            FIT_OUT
            Workouts
            run_page/data.db
            src/static/activities.json
            imported.json
          key: ${{ env.DATA_CACHE_PREFIX }}-${{ github.sha }}-${{ github.run_id }}
          restore-keys: |
            ${{ env.DATA_CACHE_PREFIX }}-${{ github.sha }}-
            ${{ env.DATA_CACHE_PREFIX }}-

      # 仅同步 Strava 数据
      - name: Run sync Strava script
        if: env.RUN_TYPE == 'strava'
        run: |
          python run_page/strava_sync.py ${{ secrets.STRAVA_CLIENT_ID }} ${{ secrets.STRAVA_CLIENT_SECRET }} ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }}

      - name: Push new runs
        if: env.SAVE_DATA_IN_GITHUB_CACHE != 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m 'update new runs' || echo "nothing to commit"
          git push || echo "nothing to push"

      - name: Set Output
        id: set_output
        env:
          SAVE_DATA_IN_GITHUB_CACHE: ${{ env.SAVE_DATA_IN_GITHUB_CACHE }}
          DATA_CACHE_PREFIX: ${{ env.DATA_CACHE_PREFIX }}
          BUILD_GH_PAGES: ${{ env.BUILD_GH_PAGES }}
        run: |
          echo "SAVE_DATA_IN_GITHUB_CACHE=$SAVE_DATA_IN_GITHUB_CACHE" >> "$GITHUB_OUTPUT"
          echo "DATA_CACHE_PREFIX=$DATA_CACHE_PREFIX" >> "$GITHUB_OUTPUT"
          echo "BUILD_GH_PAGES=$BUILD_GH_PAGES" >> "$GITHUB_OUTPUT"

  # 如果你希望发布到 GitHub Pages，可以启用此步骤
  # publish_github_pages:
  #   if: needs.sync.result == 'success' && needs.sync.outputs.BUILD_GH_PAGES == 'true'
  #   name: Build and publish Github Pages
  #   uses: ./.github/workflows/gh-pages.yml
  #   with:
  #     save_data_in_github_cache: ${{needs.sync.outputs.SAVE_DATA_IN_GITHUB_CACHE == 'true'}}
  #     data_cache_prefix: ${{needs.sync.outputs.DATA_CACHE_PREFIX}}
  #   needs:
  #     - sync
